.bigBlock{
    width: 100%;
    font-size: 0px;
    line-height: 0px;
    z-index: 20;
    margin-bottom: 30px;
}
.bigBlock a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 11px;
}
.bigBlock li{
    font-size: 11px;
}
.bigBlock #aside, .bigBlock #content{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
    height: 100%;
}
.bigBlock #aside{
    width: 25%;
    padding-right: 10px;
    min-height: 538px;
}
.bigBlock #content{
    width: 75%;
    font-size: 0;
    line-height: 0;  
}
.bigBlock .leftSide, .bigBlock .rightSide{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
    height: 100%;
}
.bigBlock .leftSide{
    width: 60%;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    padding: 20px;
    height: 100%;
    background: #fff;
    min-height: 538px;
}
.bigBlock .leftSide h2{
    font-size: 30px;
    font-style: italic;
    font-family:  MyriadPro-Regular, Arial, sans-serif;
    color: #414141;
}
.bigBlock .leftSide ul{
    padding: 10px 0 40px 0;
}
.bigBlock .leftSide li{
    line-height: 40px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    color: #526268;
}
.bigBlock .leftSide strong{
    color: #106a92;
    font-family: MyriadPro-Regular, Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
}
.bigBlock .leftSide span{
    font-size: 17px;
    display: block;
}
.bigBlock .rightSide{
    width: 40%;
    padding-left: 10px;
}
.bigBlock .rightSide div{
    width: 100%;
    height: 100px;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid #fff;
    position: relative;
}
.bigBlock .rightSide div:last-child{
   margin: 0;
}
.bigBlock img{
    margin: -5px 0 0 0;
    padding: 0;
}
.bigBlock .block1, .bigBlock .block2, .bigBlock .block3, .bigBlock .block4{
    padding-left: 113px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bigBlock .block1{
    background: linear-gradient(to bottom, #9b8c6e, #3c3226);
    box-shadow: 0 0 0 1px #b5a288;
    
}
.bigBlock .block2{
    background: linear-gradient(to bottom, #fbab00, #b46600);
    box-shadow: 0 0 0 1px #e79a33;
    
}
.bigBlock .block3{
    background: linear-gradient(to bottom, #e3eb17, #b3b100);
    box-shadow: 0 0 0 1px #c8ca0a;
    
}
.bigBlock .block4{
    background: linear-gradient(to bottom, #b5dbe6, #3ea0cc);
    box-shadow: 0 0 0 1px #a7cfe0;
    
}
.bigBlock .block5{
    background: linear-gradient(45deg, #aaa904 0px, #aaa904 9%, #fff 9%, #fff 14%, #f3f3bc 15%, #fbfbc4 16%, #fbfbc4 22%, #f3f3bc 23%, #fff 24%, #fff 29%, #f3f3bc 30%, #fbfbc4 31%, #fbfbc4 38%, #f3f3bc 39%, #fff 40%, #fff 45%, #f3f3bc 46%, #fbfbc4 47%, #fbfbc4 53%, #f3f3bc 54%, #fff 55%, #fff 60%, #f3f3bc 61%, #fbfbc4 62%, #fbfbc4 69%, #f3f3bc 70%, #fff 71%, #fff  76%, #f3f3bc 77%, #fbfbc4 78%, #fbfbc4 84%, #f3f3bc 85%, #fff 86%, #fff 91%, #aaa904 91%, #aaa904);
    box-shadow: 0 0 0 1px #eeed65;
}
.bigBlock .rightSide img{
    position: absolute;
    top: 0;
    left: 0;
}
.bigBlock .rightSide a{
    display: table;
    vertical-align: middle;
}
.bigBlock .rightSide h4{
    font-style: italic;
    font-size: 24px;
    font-family:  MyriadPro-Regular, Arial, sans-serif;
    text-align: left;
    color: #fff;
    text-shadow: 1px 0 0 #000;
    display: table-cell;
    vertical-align: middle;
}
.bigBlock .rightSide h4 span{
    font-size: 14px;
    font-style: italic;
    display: block;
    line-height: 14px;
}
.bigBlock .block5_h4{
    font-size: 30px !important;
    font-family:  MyriadPro-Regular, Arial, sans-serif;
    color: #000 !important;
    text-shadow: none !important;
    text-align: center !important;
    font-style: normal !important;
    vertical-align: middle;
}