#footer{
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 0 45px;
}
#footer .topPart{
    background: #e1f8ff;
    width: 100%;
    border: 1px solid #fff;
    box-shadow: 0 -1px 0 1px #e6eced;
    padding: 15px 0 20px 0;
}
#footer .topPart p{
    padding-bottom: 10px;
    font-weight: 700;
    color: #063853;
    font-family: MyriadPro-Regular, Arial, sans-serif;
    font-size: 14px;
}
#footer .nav, #footer .nav li, #footer .contacts, #footer .center{
    text-align: left;
}
#footer .wrap:after{
    display: block;
    content: "";
    clear: both;
}
#footer .nav, #footer .contacts, #footer .socials{
    font-size: 16px;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
    width: 32%;
}
#footer .nav{
    float: left;
}
#footer .nav ul:after{
    display: block;
    content: "";
    clear: both;
}
#footer .nav  ul,
#footer .nav  ul li{
    list-style: circle inside;
}
#footer .nav  ul li{
    float: left;
    width: 50%;
    padding-bottom: 10px;
}
#footer .nav  ul li a{
    display: block;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
}
#footer .contacts{
    text-align: center;
}
#footer .contacts .center{
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}
#footer .contacts li{
    padding-bottom: 5px;
}
#footer .contacts a{
    font-family: Geneva, Arial, sans-serif;
    font-size: 14px;
    color: 1f1f1f;
}
#footer .contacts .serv{
    color: #02607f;
    line-height: 30px;
    font-size: 18px;
}
#footer .socials{
    float: right;
    text-align: right;
}
#footer .socials p{
    color: #067fad;
    display: inline-block;
    padding-right: 10px;
}
#footer .soc{
	margin: 0 auto;
    text-align: center;
    display: inline-block;
}
#footer .soc li{
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    width: 28px;
}
#footer .soc li:hover{
    transform: scale(1.1);
    transition: all .3s;
}
#footer .fb{
    background: #43609C;
    font-family: "fontello";
}
#footer .tweet{
    background: #33CCFF;
    font-family: "fontello";
}
#footer .in{
    background: #0274B3;
    font-family: "fontello";
}
#footer .digg{
    background: #242424;
    font-family: "fontello";
}
#footer .fb, #footer .tweet, #footer .in, #footer .digg{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2px;
    text-decoration: none;
}
#footer i{
    color: #fff;
    line-height: 28px;    
}
#footer .bottom{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #36c3f1, #0b7699);
    color: #fff;
    line-height: 45px;
    border: 1px solid #fff;
    box-shadow: 0 -1px 0 1px #37c5f3;
    z-index: 100;
}
#footer .bottom{
    font-size: 11px;
    font-family: Tahoma, Arial, Sans-serif;
}