#header{
    font-size: 0;
    line-height: 0;
    padding: 50px 0 0 0;
    margin: 0;
}
#header .leftSide, #header .rightSide{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    padding: 0 0 50px 0;
    margin: 0;
}
#header .leftSide{
    width: 35%;
}
#header #logo{
    background: url(../img/icons/logo.png) top center no-repeat;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    display: inline-block;
    text-indent: -99999px;
    vertical-align: middle;
    width: 150px;
    height: 30px;
    padding-bottom: 20px;
}
#header .contact p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .contact p:after{
    content: "|";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 7px;
}
#header .contact p+a{
    color: #b23636 !important;
    display: inline-block;
    font-size: 14px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .rightSide{
    width: 65%;
}
#header .text{
    height: 50px;
}
#header .rightSide p{
    font-size: 11px;
    padding-top: 2px;
    font-family: Tahoma, Arial, sans-serif;
}
#header #mobMenuButton{
    display: none;
}
#header .menu-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    background: none;
    position: relative;
    margin: 8px 5px 8px 0;
    font-size: 0;
    line-height: 1;
}
#header .menu-icon:hover {
    opacity: 1;
}
#header .menu-icon:active {
    -webkit-transition: 0;
    transition: 0;
}
#header .menu-icon .lines {
    display: inline-block;
    width: 2.2rem;
    height: 0.16rem;
    top:50%;
    left:0;
    background: #000;
    border-radius: 0.28571rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: relative;
}
#header .menu-icon .lines:before, #header .menu-icon .lines:after {
    display: inline-block;
    width: 2.2rem;
    height: 0.16rem;
    background: #000;
    border-radius: 0.28571rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.18571rem center;
    -ms-transform-origin: 0.18571rem center;
    transform-origin: 0.18571rem center;
}
#header .menu-icon .lines:before {
    top: 0.6rem;
}
#header .menu-icon .lines:after {
    top: -0.6rem;
}
#header .menu-icon:hover .lines:before {
    top: 0.8rem;
}
#header .menu-icon:hover .lines:after {
    top: -0.8rem;
}
#header .menu-icon.close {
   -webkit-transform: scale3d(0.6, 0.6, 0.6);
   transform: scale3d(0.6, 0.6, 0.6);
}
#header .menu-icon.x2 .lines {
    -webkit-transition: background 0.2s 0.5s ease;
    transition: background 0.2s 0.5s ease;
}
#header .menu-icon.x2 .lines:before, #header .menu-icon.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: webkit-transform 0.2s ease;
    -webkit-transease, -webkit-transform 0.2s ease;
    transition:transform 0.2s ease;
    transition:transform 0.2s ease, -webkit-transform 0.2s ease;
}
#header .menu-icon.x2.close .lines {
    -webkit-transition: background 0.3s 0s ease;
    transition: background 0.3s 0s ease;
    background: transparent;
}
#header .menu-icon.x2.close .lines:before, #header .menu-icon.x2.close .lines:after {
    transition: top 0.2s ease, -webkit-transform 0.3s 0.5s ease;
    -webkit-transition: top 0.2s ease, -webkit-transform 0.3s 0.5s ease;
    transition: top 0.2s ease, transform 0.3s 0.5s ease;
    transition: top 0.2s ease, transform 0.3s 0.5s ease, -webkit-transform 0.3s 0.5s ease;
    top: 0;
}
#header .menu-icon.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
#header .menu-icon.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}
#header nav{
    float: left;
}
#header nav ul{
    z-index: 20;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}
#header .title, #header .untitle{
    display: inline-block;
    vertical-align: middle;
    background: #e3f3f9;
    border: 1px solid #c2e0ec;
    padding: 5px 30px;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    max-width: 25%;
    position: relative;
    margin-right: 20px;
}
#header .title:last-child{
    margin-right: 0;
}
#header .title:hover{
    border: 1px solid #98bece;
}
#header .subtitle, #header .unsubtitle{
    font-size: 16px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .dropDown{
    display: none;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    background: #e3f3f9;
    border: 1px solid #98bece;
    top: 90%;
    left: -1px;
    width: 100%;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#header .title:hover .dropDown{
    display: block;
}
#header .intro{
    display: block;
    vertical-align: middle;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 1px #fff;
    border-radius: 0px;
    padding: 10px;
    font: 500 11px Tahoma, Arial, sans-serif;
}
#header .intro:last-child{
    box-shadow: none;
    border: none;
}
#header .intro a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: underline !important;
    color: #327994;
}
#header .intro a:hover{
    color: #1fafe6;
}
#header .unsubtitle{
    padding: 4px 30px;
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#header .untitle{
    border: 1px solid #097aa5;
    padding: 0px;
    border-radius: 3px;
}
#header .unsubtitle{
    background: linear-gradient(to bottom, #17adde, #1b8ec4);
    color: #fff;
    border: 1px solid #3aa6cd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #1182a6 inset;
    text-shadow: 1px 1px 1px #126b90;
}
/****************************************************************              TABLET              ***********************************************/
@media screen and (max-width: 1024px) {
    #header .title, #header .untitle{
    margin-right: 18px;
    }
} 
/****************************************************************              MOBILE              ***********************************************/
@media screen and (max-width: 978px) {
    #header #mobMenuButton{
        display: block;
        position: relative;
        z-index: 501;
        left: 420px;
    }
    #header #mobileMenu{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        margin: 100px 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: opacity .5s;
        transition : opacity .5s;
        pointer-events: none;
        z-index: 500;
        background: #fff;
        padding: 0;
    }
    #header #mobileMenu .mobMenu{
        width: 100%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 50px 0 0 0;
        margin: 0 !important;
    }
    #header .title, #header .untitle {
        padding: 0;
        margin: 10px auto !important;
        line-height: 2em;
        display: block;
        width: 100%;
    }
    #header .unsubtitle{
        padding: 0 30px;
    }
    #header .intro{
        margin: 0 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #header #mobileMenu.active{
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
    body.active, html.active{
        overflow: hidden;
    }
    #header .text{
        height: 25px;
    }
}    
@media screen and (max-width: 748px) {
    #header .leftSide{
        width: 90%;
    }
    #header .rightSide{
        width: 10%;
    }
    #header .text{
        display: none;
    } 
    #header #mobMenuButton{
        top: 0;
        left: 0;
    }
    #header #logo, #header .contact{
        display: block;
        margin: 0 auto;
    }
    #header .contact{
        width: 174px;
    }
}