#header{
    font-size: 0;
    line-height: 0;
    padding: 50px 0 0 0;
    margin: 0;
}
#header .leftSide, #header .rightSide{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    padding: 0 0 50px 0;
    margin: 0;
}
#header .leftSide{
    width: 35%;
}
#header #logo{
    background: url(../img/icons/logo.png) top center no-repeat;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    display: inline-block;
    text-indent: -99999px;
    vertical-align: middle;
    width: 150px;
    height: 30px;
    padding-bottom: 20px;
}
#header .contact p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .contact p:after{
    content: "|";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom: 7px;
}
#header .contact a{
    color: #b23636 !important;
    display: inline-block;
    font-size: 14px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .rightSide{
    width: 65%;
}
#header .text{
    height: 50px;
    width: 100%;
}
#header .rightSide p{
    font-size: 11px;
    padding-top: 2px;
    font-family: Tahoma, Arial, sans-serif;
}
#header nav{
    float: right;
}
#header nav ul{
    z-index: 20;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}
#header .title, #header .untitle{
    display: inline-block;
    vertical-align: middle;
    background: #e3f3f9;
    border: 1px solid #c2e0ec;
    padding: 5px 30px;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    max-width: 25%;
    position: relative;
    margin-right: 20px;
}
#header .title:hover{
    border: 1px solid #98bece;
}
#header .subtitle, #header .unsubtitle{
    font-size: 16px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
}
#header .dropDown{
    display: none;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    background: #e3f3f9;
    border: 1px solid #98bece;
    top: 90%;
    left: -1px;
    width: 100%;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#header .title:hover .dropDown{
    display: block;
}
#header .intro{
    display: block;
    vertical-align: middle;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 1px #fff;
    border-radius: 0px;
    margin: 5px;
    padding: 5px 10px;
    font: 500 11px Tahoma, Arial, sans-serif;
}
#header .intro:last-child{
    box-shadow: none;
    border: none;
}
#header .intro a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: underline !important;
    color: #327994;
}
#header .intro a:hover{
    color: #1fafe6;
}
#header .unsubtitle{
    padding: 4px 30px;
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#header .untitle{
    border: 1px solid #097aa5;
    padding: 0px;
    border-radius: 3px;
}
#header .unsubtitle{
    background: linear-gradient(to bottom, #17adde, #1b8ec4);
    color: #fff;
    border: 1px solid #3aa6cd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #1182a6 inset;
    text-shadow: 1px 1px 1px #126b90;
}