.hero{
    z-index: 1;
}
.hero .border{
    height: 360px;
    background: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 0 2px #fff;
    border-radius: 5px;
    width: 100%;
    padding: 1px;
    margin-bottom: 40px;
}
.hero .border:after{
    position: relative;
    z-index: -5;
    bottom: 0;
    background: url(../img/img-shadow.png) top center no-repeat;
    content: " ";
    display: block;
    height: 60px;
    margin-top: -40px;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}
.hero .wrapper{
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid #f2f2f2;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 3px;
    font-size: 0;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
}
#slick{
    width: 100%;
    height: 360px;
}
.hero .readme{
    height: 3em;
}
.hero .leftSide, .hero .rightSide{
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    height: 360px;
}
.hero .leftSide{
    width: 60%;
    overflow: hidden;
}
.hero #example_video_1{
    width: 610px;
    height: 360px;
}
.hero .video-js .vjs-big-play-button{
    height: 80px;
    width: 135px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #fff, #40bae2 20%, #1b8dc4);
    border: none;
    border: 1px solid rgba(0,0,0,0);
    -moz-background-clip: border;     
    -webkit-background-clip: border;  
    background-clip: border-box;
    -moz-background-clip: padding;     
    -webkit-background-clip: padding; 
    background-clip: padding-box;
    -moz-background-clip: content;     
    -webkit-background-clip: content;  
    background-clip: content-box;      
    box-shadow: 0 0 20px 0px rgba(51, 51, 51, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before{
    
}
.img--holder{
    width: 100%;
}
.hero .rightSide{
    width: 40%;
    background: linear-gradient(to bottom, #fff, #dff1fa);
    padding: 20px;
}
.hero h2{
    font-size: 18px;
    font-family: MyriadPro-Regular, Arial, sans-serif;
    background: -webkit-linear-gradient(#767676, #424242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.hero .block{
    display: block;
    background: -webkit-linear-gradient(#49b8e1, #1584ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    color: #686868;
    padding: 10px 0 0 0;
}
.hero p span{
    color: #686868;
    font-weight: 700;
}
#wrapper {
    background-color: #fff;
    width: 100%;
}
div.example {
    padding: 0 0 150px 0;
}
div.example:after {
    content: '';
    display: block;
    clear: both;
}
div.box {
    height: 160px;
    padding: 15px 20px 10px 20px;
/*  overflow: hidden; */
}
div.box.opened{
    height: 100px;
}
div.box .toggle .close,
div.box.opened .toggle .open{
    display: none;
}
div.box .toggle .opened,
div.box.opened .toggle .close{
    display: inline;
}

/*//////////////////////////////*/

/* Slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slide{
	margin: 0;
    padding: 0;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.slick-slide img{
    display: block;
    margin: 0;
    width: 100%;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/****************************************************************              TABLET              ***********************************************/
@media screen and (max-width: 1024px) {
    .hero h2{
    font-size: 16px;
}
/****************************************************************              MOBILE              ***********************************************/
@media screen and (max-width: 978px) {
    .hero .border{
        height: 440px;
    }
    .hero .leftSide, .hero .rightSide{
        display: block;
        width: 100%;
    }
    .hero #example_video_1{
        width: 100%;
        height: 360px;
    }
    .hero h2{
        text-align: center;
    }
    .hero .readme{
        display: none;
    }
    .hero .border:after{
        margin-top: -30px;
    }
}
    @media screen and (max-width: 675px) {
    .hero .border:after{
        margin-top: -20px;
    }
}
@media screen and (max-width: 535px) {
    .hero .border:after{
        margin-top: -10px;
    }
}
@media screen and (max-width: 372px) {
    .hero .border{
        height: 460px;
    }
}
