.mid{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 8px;
}
.mid .title{
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 2px;
}
.mid h5{
    font-family: MyriadPro-Regular, Arial, sans-serif;
    font-size: 16px;
    color: #414141;
}
.mid .title{
    background: linear-gradient(to bottom, #fff, #e5f6ff);
    border: 1px solid #dceef7;
}
.mid dl{
    background: #ffffff;
    border: 1px solid #dceef7;
    border-radius: 3px;
    font-size: 11px;
    padding: 0 30px 0 0;
}
.mid dt{
    display: inline-block;
    border: none;
    border-radius: 0px;
    padding: 8px 10px;
    text-align: left;
}
.bigBlock .mid dd{
    font-weight: 700;
    color: #8e8e8e;
    display: inline-block;
}
.mid span{
    display: block;
    border: none;
    border-radius: 0px;
    padding: 8px 10px;
    text-align: left;
    vertical-align: middle;
}
.mid a{
    color: #9a990a;
    font-weight: 700;
    font-size: 11px; 
    font-family:  Tahoma, Arial, sans-serif;
}