.slider{
    margin-bottom: 30px;
}
.slider * {
    outline: none !important;
}
.slider .holder{
    width: 100%;
}
.slider .wrap{
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
}
.slider .slide{
    margin: 10px 5px;
}
.slider .slide div{
    height: 115px;
    width: 205px;
    background: #1a94c9;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #1a94c9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
.slider a{
	display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.slider a div{
    margin: 0 auto;
}
.slider .slide img{
    position: absolute;
    width: 35%;
    top: -10px;
    right: -7px;
}
.slider h4{
    color: #fff;
    font-family: Geneva, Arial, sans-serif;
    font-size: 18px;
}
.slider p{
    color: #fff;
    font-family:  Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin: 8px 0;
}
.slider span{
    color: #fff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-decoration: underline;
}
.slider .slick-prev{
    position: absolute;
    left: 5px;
    top: 40%;
    transform: translate(-50%);
    background: none;
    font-size: 0px;
    transform: scale(2, 1);
    cursor: pointer;
    z-index: 30;
    width: 30px;
    height: 30px;
    border: none;
}
.slider .slick-prev:after, .slider .slick-prev:before, .slider .slick-next:after, .slider .slick-next:before {
	border: solid transparent;
	content: " ";
	position: absolute;
	pointer-events: none;
}
.slider .slick-prev:after{
	border-right-color: #8bdbff;
	border-width: 15px;
	margin-top: -15px;
    margin-left: -25px;
}
.slider .slick-prev:before{
	border-right-color: #375765;
	border-width: 16px;
	margin-top: -17px;
    margin-left: -27px;
}
.slider .slick-next{
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    right: 5px;
    transform: scale(2, 1);
    background: none;
    font-size: 0px;
    z-index: 30;
    width: 30px;
    height: 30px;
    border: none;
}
.slider .slick-next:after{
	border-left-color: #8bdbff;
	border-width: 15px;
	margin-top: -15px;
    margin-left: -5px;
}
.slider .slick-next:before{
	border-left-color: #7c8f97;
	border-width: 16px;
	margin-top: -17px;
    margin-left: -6px;
}
/****************************************************************              MOBILE              ***********************************************/
@media screen and (max-width: 333px) {
    .slider .slide div{
        height: 115px;
        width: 190px;
    }
}

