.top{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 8px;
}
.top .intro{
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 2px;
    background: linear-gradient(to bottom, #fff, #ececec);
    border: 1px solid #e0e0e0;
}
.top h5{
    font-family: MyriadPro-Regular, Arial, sans-serif;
    font-size: 16px;
    color: #414141;
}
top a{
    font-size: 11px; 
    font-family:  Tahoma, Arial, sans-serif;
}
.top span{
    font-weight: bold;
}
.top ul{
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.top li{
    display: block;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0px 1px 1px #fff;
    border-radius: 0px;
    margin: 5px;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
}
.top li:last-child{
    box-shadow: none;
    border: none;
}
.top a{
    color: 8e8e8e;
}
